        .contact-section {
            background: #ffffff;
        }
        
        .custom-form {
            background-color: #5a6f80;
            box-shadow: none;
            border: 0;
            color: #717275;
            margin-bottom: 24px;
            padding-top: 13px;
            padding-bottom: 13px;
            outline: none;
        }
        
        .custom-form .form-control:hover,
        .custom-form .form-control:focus {
            border-color: #5a6f80;
        }
        
        .custom-form label {
            margin-bottom: 10px;
        }
        
        .custom-form .form-check-group {
            margin-bottom: 20px;
        }
        /*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
        
        .custom-form .form-control,
        .input-group-file {
            background-color: #f0f8ff;
            box-shadow: none;
            border: 0;
            color: #717275;
            margin-bottom: 24px;
            padding-top: 13px;
            padding-bottom: 13px;
            outline: none;
        }
        
        .form-blocks {
            background-color: #5c7762;
            box-shadow: none;
            border-radius: 20px;
            color: white;
            margin-bottom: 24px;
            padding-top: 13px;
            padding-bottom: 13px;
            outline: none;
        }
        
        .custom-form .form-control:hover,
        .custom-form .form-control:focus {
            border-color: #5a6f80;
        }
        
        .custom-form label {
            margin-bottom: 10px;
        }
        
        .custom-form .form-check-group {
            margin-bottom: 20px;
        }
        
        .custom-form .form-check-radio {
            position: relative;
            height: 100%;
            padding-left: 0;
        }
        
        .custom-form .input-group-text {
            background: #5a6f80;
            border: 0;
            color: #ffffff;
        }
        
        .custom-form .form-check-radio .form-check-label {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
        
        .custom-form button[type="submit"] {
            background: #597081;
            border: none;
            border-radius: 100px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 600;
            transition: all 0.3s;
            margin-bottom: 0;
        }
        
        .custom-form button[type="submit"]:hover,
        .custom-form button[type="submit"]:focus {
            background: #5bc1ac;
            border-color: transparent;
        }
        
        .custom-form .form-control,
        .input-group-file {
            background-color: #f0f8ff;
            box-shadow: none;
            border: 0;
            color: #717275;
            margin-bottom: 24px;
            padding-top: 13px;
            padding-bottom: 13px;
            outline: none;
        }
        
        .custom-form .form-control:hover,
        .custom-form .form-control:focus {
            border-color: #5a6f80;
        }
        
        .volunteer-section {
            background: #5a6f80;
            position: relative;
            overflow: hidden;
        }
        
        .section-padding {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        
        .volunteer-form {
            background: #ffffff;
            border-radius: 20px;
            padding: 50px;
        }
        /* ====================================================================================== */